@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: linear-gradient(to top left, #c9f2f7 0%, black);
  /* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #a48c87 8%, #9f7928 30%, #5f4e26 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, black 0%, rgb(103, 98, 98) 8%, #a68c45 25%, #5d4a1f 62.5%, #382a0a 100%); */
  /* background: #000; */
}

h1, h4, p, a{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #222;
  /* color: -webkit-gradient(linear, left top, left bottom, from(#85f0fe), to(#c9f2f7)); */
  border: 1px solid #79efff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.3rem;
}

.btn-light{
  background: transparent;
  color: #79efff; 
  /* color: #c9f2f7; */
}

.btn:hover{
  background: rgba(255, 255, 255, 0.2);
  color: #c9f2f7;
  transition: 0.3s;
}

.hover-line {
  position: relative;
  display: inline-block;
  line-height: inherit;
}
.hover-line::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background:#45ebe6;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: left;
  transition: scale 0.25s;
}
.hover-line:hover::before {
  scale: 1;
}