@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  /* background: linear-gradient(to top left, #e8b17a 0%, #000000 100%); */
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #a48c87 8%, #9f7928 30%, #5f4e26 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, black 0%, rgb(103, 98, 98) 8%, #a68c45 25%, #5d4a1f 62.5%, #382a0a 100%);
  /* background: #000; */
}

h1, h4, p, a{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color: #fff;
}

.btn:hover{
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}